<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>

  <!--    导入vue-->
  <script src="/res/js/vue.js" type="text/javascript"></script>
  <!--    导入element-ui组件-->
  <script src="/res/js/index.js" type="text/javascript"></script>
  <link href="/res/css/index.css" rel="stylesheet">
  <!--    导入jquery-->
  <script src="/res/js/jquery.min.js" type="text/javascript"></script>
</head>
<style>
  .el-header, .el-footer {
    background-color: #5cb3cc;
    color: #333;
    text-align: center;
    line-height: 60px;
    opacity: 0.8;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;

  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
    height: 585px;
  }

  body > .el-container {
    margin-bottom: 40px;
  }
  body{
    background-color: #93b5cf;
    background-image: url("/res/images/12.png");
    background-size: cover; /*背景图固定不变*/
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-col-12 {
    width: 100%;
  }
  .li_style{
    border: #3e3e3e solid 1px;
    height: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .el-input-group{
    width: 450px;
  }

  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
  ._info{
    width: 100%;
    height: 300px;
  }
  .info_div{
    height: 100px;
    text-align: center;
  }
  .el-input{
    width: 50%;
  }
  .edit_style{
    float: right;
    margin-top: -60px;
  }
</style>
<body>

<div id="editPassword">
  <el-container>
    <el-header>
      <div style="font-weight:bold;">
        修改密码
      </div>
    </el-header>
    <!--        Asia-->
    <el-container>
      <el-aside width="200px">
        <el-pageRow class="tac">
          <el-col :span="12">
            <el-menu
                    default-active="5-2"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose">

              <el-menu-item index="1" @click="hrefHumanity">
                <i class="el-icon-menu"></i>
                <span slot="title">寻人启事</span>
              </el-menu-item>

              <el-menu-item index="2" @click="hrefGoods">
                <i class="el-icon-menu"></i>
                <span slot="title">寻物启事</span>
              </el-menu-item>

              <el-menu-item index="3" @click="hrefFound">
                <i class="el-icon-menu"></i>
                <span slot="title">失物招领</span>
              </el-menu-item>

              <el-submenu index="4">

                <template slot="title">
                  <i class="el-icon-s-promotion"></i>
                  <span>我要发布</span>
                </template>
                <el-menu-item-group>
                  <el-menu-item @click="hrefPerson" index="4-1">
                    <i class="el-icon-user-solid"></i>
                    我要寻人
                  </el-menu-item>
                  <el-menu-item @click="hrefFindGoods" index="4-2">
                    <i class="el-icon-present"></i>
                    我要寻物
                  </el-menu-item>
                  <el-menu-item @click="hrefLost" index="4-3">
                    <i class="el-icon-guide"></i>
                    失物招领
                  </el-menu-item>
                </el-menu-item-group>

              </el-submenu>


              <el-submenu index="5">

                <template slot="title">
                  <i class="el-icon-s-custom"></i>
                  <span>个人中心</span>
                </template>
                <el-menu-item-group>
                  <el-menu-item @click="hrefUserInfo" index="5-1">
                    <i class="el-icon-user"></i>
                    个人信息
                  </el-menu-item>
                  <el-menu-item @click="hrefEditPassword" index="5-2">
                    <i class="el-icon-key"></i>
                    修改密码
                  </el-menu-item>
                  <el-menu-item index="5-3">
                    <i class="el-icon-switch-button"></i>
                    退出登录
                  </el-menu-item>
                </el-menu-item-group>

              </el-submenu>

            </el-menu>
          </el-col>
        </el-pageRow>
      </el-aside>


      <el-container>
        <!--Main界面-->
        <el-main>

          <div style="margin-top: 20px">
            <el-form id="form" :rules="formRules" ref="user" :model="user"><!--:rules表示绑定规则-->

              <el-form-item prop="userEmail">
                <span>用户邮箱:</span>
                <el-input :disabled="true" prefix-icon="el-icon-lock" v-model="user.userEmail" type="text" :placeholder="user.userEmail"></el-input>
              </el-form-item>

              <el-form-item prop="userPassword">
                <span>新密码:</span>
                <el-input prefix-icon="el-icon-lock" v-model="user.userPassword" type="password" placeholder="请输入密码" show-password></el-input>
              </el-form-item>

              <el-form-item  prop="rePassword">
                <span>确认密码:</span>
                <el-input prefix-icon="el-icon-lock" v-model="user.rePassword" type="password" placeholder="请再次输入密码" show-password></el-input>
              </el-form-item>

              <el-form-item>
                <span>验证码:</span>
                <el-input prefix-icon="el-icon-lock" v-model="user.checkCode" type="text" placeholder="请输入验证码"></el-input>

              </el-form-item>

              <el-form-item>
                <p class="code_p">
                  <el-button @click="sendCode" :loading="loginStatus" type="primary" :disabled="buttonStatus" class="sendButton">{{buttonName}}</el-button>
                  <el-button @click="editUserPassword" type="primary" class="submit">确认修改</el-button>
                </p>
              </el-form-item>

            </el-form>
          </div>


        </el-main>
        <!--Footer界面-->
        <el-footer>
          <tr class="foot">
            <b>&copy;寻人启事系统</b>
          </tr>
        </el-footer>
      </el-container>
    </el-container>
  </el-container>
</div>

<script>
  new Vue({
    el:"#editPassword",
    data(){
      //给rePassword制定规则
      var passCheck=(rule,value,callback)=>{
        if(value===""){
          callback(new Error("请再次输入密码!"))
        }else if(value!==this.user.userPassword){
          callback(new Error("两次密码不一致!"))
        }else {
          callback();
        }
      }
      return{
        user:{
          userId: "",
          userName: "",
          userEmail: "",
          userPassword: "",
          userPhone: "",
          userAddress: "",
          salt: "",
          power: "",
          checkCode: ""
        },
        buttonStatus:false,//按钮状态
        loginStatus:false,//加载状态
        buttonName:"发送验证码",//按钮名称

        //申明表单验证规则
        formRules:{
          userEmail:[
            {required:true,message:"邮箱不能为空",trigger:"blur"}
          ],
          userPassword:[
            {required:true,message:"密码不能为空",trigger:"blur"}
          ],
          rePassword:[
            {required:true,trigger:"blur",validator:passCheck}//validator:表示引用自定义的规则
          ],

        }
      }
    },
    methods:{
      //跳转到寻人启事页
      hrefHumanity(){
        window.location.href="index"
      },
      //跳转到寻物启事页面
      hrefGoods(){
        window.location.href="goodsView"
      },
      //跳转到失物招领页面
      hrefFound(){
        window.location.href="foundView"
      },
      //跳转到我要寻人界面
      hrefPerson(){
        window.location.href="personView"
      },
      //跳转到我要寻物界面
      hrefFindGoods(){
        window.location.href="findGoodsView"
      },
      //跳转到发布失物招领界面
      hrefLost(){
        window.location.href="lostView"
      },
      //跳转到个人信息界面
      hrefUserInfo(){
        window.location.href="userInfo"
      },
      //跳转到修改密码界面
      hrefEditPassword(){
        window.location.href="editPassword"
      },

      handleOpen(key, keyPath) {
        // console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        // console.log(key, keyPath);
      },

      //获取用户邮箱
      initUserEmail(){
        this.user.userEmail = sessionStorage.getItem("userEmail")
      },

      //表单检验  检验表单是否成功
      edit_check(){
        var result;
        this.$refs['user'].validate((valid)=>{
          if(valid){
            result=true;
          }else{
            result=false;
          }
        })
        return result;
      },

      //修改按钮触发函数
      editUserPassword(){
        var _this = this;
        // alert(new Date())
        //提交前判断表单验证
        var boo = _this.edit_check()
        // alert(boo)
        if(boo){
          $.ajax({
            url:"/user/editUserPassword",
            type:"post",
            contentType:"application/json",//表示发送的是json格式数据
            dataType:"json",//表示接受后端传来的json数据
            data:JSON.stringify(_this.user),//将user转换成JSON格式字符串
            success:function (res) {
              console.log(res)
              //弹框提示
              _this.$message({
                type:res.info==="修改成功"?"success":"error",
                message:res.info,
              })
              if(res.info==="修改成功"){
                setTimeout("location.href='/login'",2000)
              }
            }
          })
        }else{
          alert("失败！")
        }
      },
      sendCode(){
        var _this=this;
        _this.loginStatus=true;
        var type = _this.edit_check();
        if(!type){
          return
        }
        //请求发送邮箱接口
        $.ajax({
          url:"/user/sendPasswordCode",
          type:"get",
          dataType:"json",//表示接受后端传来的json数据
          data:{
            userEmail:_this.user.userEmail,
          },
          success:function (res) {
            console.log(res)
            //弹框提示
            _this.$message({
              type:res.info==="发送成功"?"success":"error",
              message:res.info,
            })
            //请求成功
            if(res.info==="发送成功"){
              //禁用按钮
              _this.buttonStatus=true;
              _this.times();
            }
            _this.loginStatus=false
          },
        })
      },
      // 计时
      times(){
        var _this=this;
        var count=30;//设置倒计时
        //每隔一秒-1
        var time = setInterval(()=>{
          _this.buttonName=count+"S";
          count--;
          if(count<0){
            clearInterval(time);
            _this.buttonName="重新发送"
            _this.buttonStatus=false;
          }
        },1000)//每隔一秒执行一次代码
      },






    },
    mounted(){
      this.initUserEmail()
    }

  })
</script>

</body>
</html>