<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <!--    导入vue-->
    <script src="/res/js/vue.js" type="text/javascript"></script>
    <!--    导入element-ui组件-->
    <script src="/res/js/index.js" type="text/javascript"></script>
    <link href="/res/css/index.css" rel="stylesheet">
    <!--    导入jquery-->
    <script src="/res/js/jquery.min.js" type="text/javascript"></script>
</head>
<style>

    .el-header, .el-footer {
        background-color: #22a2c3;
        color: #333;
        text-align: center;
        line-height: 60px;
        /*background-image: url("/res/images/4.jpg");*/
        background-size: cover; /*背景图固定不变*/
        opacity: 0.8;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
        line-height: 200px;

    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        line-height: 160px;
        height: 600px;
    }

    body > .el-container {
        margin-bottom: 40px;

    }
    body{
        background-color: #93b5cf;
        background-image: url("/res/images/12.png");
        background-size: cover; /*背景图固定不变*/
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }
    .el-col-12 {
        width: 100%;
    }
    .li_style{
        border: #3e3e3e solid 1px;
        height: 140px;/*150*/
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    img{
        width: 100px;
        height: 130px;
/*        max-width: 100%;
        max-height: 100%;*/
    }
    th,tr,td,table{
        border: 0px solid #440e25;
    }
    .table{
        margin: 0 auto;
        opacity:0.8;
    }
    .beijingtu{
        background-image: url("/res/images/12.png");
    }
    .foot{
        /*    	background: #efefef; */
        text-align: center;
        height: 40px;
        line-height:0px ;
        position: absolute;      /*注册栏居中在屏幕中心*/
        top: 1;/*顶部*/
        left: 0;/*左部*/
        bottom: 0;/*底部*/
        right: 0;/*右部*/
        margin: 0;/*边缘*/
    }
    .el-input-group{
        width: 400px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
        display: flex;
        align-items: center;
        text-align:center;
    }
</style>
<body>

<div id="index">
    <template>
    <el-container>
        <el-header>
            <div>
                <div style="font-weight:bold;">失踪人员列表</div>
                <div style="float: right;margin-top: -60px;">   <!-- right居左    margin-top 调整位置 -->
                    <el-input placeholder="请输入内容" v-model="humanity.humanityName" class="input-with-select">
                        <el-button @click="search_btn" slot="append"  icon="el-icon-search"></el-button>
                    </el-input>
                </div>

            </div>
        </el-header>
<!--        Asia-->
        <el-container>
            <el-aside width="200px">
                <el-row class="tac">
                    <el-col :span="12">
                        <el-menu
                                default-active="1"
                                class="el-menu-vertical-demo"
                                @open="handleOpen"
                                @close="handleClose">

                            <el-menu-item index="1" @click="hrefHumanity">
                                <i class="el-icon-menu"></i>
                                <span slot="title">寻人启事</span>
                            </el-menu-item>

                            <el-menu-item index="2" @click="hrefGoods">
                                <i class="el-icon-menu"></i>
                                <span slot="title">寻物启事</span>
                            </el-menu-item>

                            <el-menu-item index="3" @click="hrefFound">
                                <i class="el-icon-menu"></i>
                                <span slot="title">失物招领</span>
                            </el-menu-item>

                            <el-submenu index="4">

                                <template slot="title">
                                    <i class="el-icon-s-promotion"></i>
                                    <span>我要发布</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item @click="hrefPerson" index="4-1">
                                        <i class="el-icon-user-solid"></i>
                                        我要寻人</el-menu-item>
                                    <el-menu-item @click="hrefFindGoods" index="4-2">
                                        <i class="el-icon-present"></i>
                                        我要寻物</el-menu-item>
                                    <el-menu-item @click="hrefLost" index="4-3">
                                        <i class="el-icon-guide"></i>
                                        失物招领</el-menu-item>
                                </el-menu-item-group>

                            </el-submenu>


                            <el-submenu index="5">

                                <template slot="title">
                                    <i class="el-icon-s-custom"></i>
                                    <span>个人中心</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item @click="hrefUserInfo" index="5-1">
                                        <i class="el-icon-user"></i>
                                        个人信息</el-menu-item>
                                    <el-menu-item @click="hrefEditPassword" index="5-2">
                                        <i class="el-icon-key"></i>
                                        修改密码</el-menu-item>
                                    <el-menu-item index="5-3">
                                        <i class="el-icon-switch-button"></i>
                                        退出登录</el-menu-item>
                                </el-menu-item-group>

                            </el-submenu>

                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>


            <el-container>
                <!--Main界面-->
                <el-main>
                    <!--开始更改-->
                    <div class="box-card">
                        <table class="table">
<!--                            <caption></caption>-->
<!--                            <h2 class="h2ys">失踪人员列表</h2>-->
                            <thead>
                            <tr class="li_style">
                                <th style="width: 150px">照片</th>
                                <th style="width: 80px">姓名</th>
                                <th style="width: 50px">年龄</th>
                                <th style="width: 50px">性别</th>
                                <th style="width: 120px">出生日期</th>
                                <th style="width: 100px">特征</th>
                                <th style="width: 120px">失踪地点</th>
                                <th style="width: 200px">失踪时间</th>
                                <th style="width: 80px">联系人</th>
                                <th style="width: 100px">联系人手机号</th>
                                <th style="width: 50px">关系</th>

                            </tr>

                            <tr v-for="(item,index) in humanityInfo" class="li_style">
                                <td style="width: 150px"><img class="img" :src="item.humanityImg"></td><!--style="width: 120px;height: 150px"-->
                                <td style="width: 80px">{{item.humanityName}}</td>
                                <td style="width: 50px">{{item.humanitySex}}</td>
                                <td style="width: 50px">{{item.humanityAge}}</td>
                                <td style="width: 120px">{{item.humanityBirthday}}</td>
                                <td style="width: 100px">{{item.humanityFeature}}</td>
                                <td style="width: 120px">{{item.humanityDisplace}}</td>
                                <td style="width: 200px">{{item.humanityDistime}}</td>
                                <td style="width: 80px">{{item.userName}}</td>
                                <td style="width: 100px">{{item.userPhone}}</td>
                                <td style="width: 50px">{{item.relationship}}</td>
                     <!--  <td><img style="width: 60px;height: 65px" :src="item.humanityImg"></td>-->
                            </tr>

                        </table>
                    </div>
                    <!--更改结束-->

                    <!--<div>
                        <ul class="table1">
                            <li class="li_style">
                                <div style="width: 150px">照片</div>
                                <div style="width: 80px">姓名</div>
                                <div style="width: 50px">年龄</div>
                                <div style="width: 50px">性别</div>
                                <div style="width: 120px">出生日期</div>
                                <div style="width: 120px">特征</div>
                                <div style="width: 120px">失踪地点</div>
                                <div style="width: 200px">失踪时间</div>
                                <div style="width: 80px">联系人</div>
                                <div style="width: 100px">联系人手机号</div>
                                <div style="width: 50px">关系</div>
                            </li>
                            <li v-for="(item,index) in humanityInfo" class="li_style">
                                <div style="width: 150px">
                                    <img class="img" style="width: 55px;height: 65px" :src="item.humanityImg">
                                </div>
                                <div style="width: 80px">{{item.humanityName}}</div>
                                <div style="width: 50px">{{item.humanitySex}}</div>
                                <div style="width: 50px">{{item.humanityAge}}</div>
                                <div style="width: 120px">{{item.humanityBirthday}}</div>
                                <div style="width: 120px">{{item.humanityFeature}}</div>
                                <div style="width: 120px">{{item.humanityDisplace}}</div>
                                <div style="width: 200px">{{item.humanityDistime}}</div>
                                <div style="width: 80px">{{item.userName}}</div>
                                <div style="width: 100px">{{item.userPhone}}</div>
                                <div style="width: 50px">{{item.relationship}}</div>

                            </li>
                        </ul>
                    </div>-->
                    <!--分页显示-->
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="curPage"
                                   :page-sizes="[2, 3, 4, 5]" :page-size="humanity.pageRow" layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
                    </el-pagination>

                </el-main>
                <!--Footer界面-->
                <el-footer>
                    <tr class="foot">
                        <b>&copy;寻人启事系统</b>
                    </tr>
                </el-footer>
            </el-container>

        </el-container>
    </el-container>
    </template>
</div>

<script>
    new Vue({
        el:"#index",
        data(){
            return{
                humanity:{
                    humanityId: "",
                    humanityName: "",
                    humanitySex: "",
                    humanityAge: "",
                    humanityBirthday: "",
                    humanityDistime: "",
                    humanityDisplace: "",
                    humanityImg: "",
                    humanityFeature: "",
                    userId: "",
                    userName: "",
                    userPhone: "",
                    relationship: "",
                    humanitySuccess: "",
                    page: 1,//页码
                    pageRow: 3//每页显示条数
                },
                totalCount: 0,//总条数
                totalPage: 0,//总页数
                curPage: 0,//当前页
                humanityInfo:[],//接收从后端接收的寻人启事数据
            }
        },
        methods:{
            //跳转到寻人启事页
            hrefHumanity(){
                window.location.href="index"
            },
            //跳转到寻物启事页面
            hrefGoods(){
                window.location.href="goodsView"
            },
            //跳转到失物招领页面
            hrefFound(){
                window.location.href="foundView"
            },
            //跳转到我要寻人界面
            hrefPerson(){
                window.location.href="personView"
            },
            //跳转到我要寻物界面
            hrefFindGoods(){
                window.location.href="findGoodsView"
            },

            //跳转到发布失物招领界面
            hrefLost(){
                window.location.href="lostView"
            },
            //跳转到个人信息界面
            hrefUserInfo(){
                window.location.href="userInfo"
            },
            //跳转到修改密码界面
            hrefEditPassword(){
                window.location.href="editPassword"
            },


            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },

            //获取用户Id
            getUserId(){
                var _this = this
                // sessionStorage.getItem("userEmail")
                $.ajax({
                    url: "/user/getUserId",
                    type: "get",
                    dataType:"json",//表示接受后端传来的json数据
                    contentType:"application/json",//表示发送的是json格式数据
                    async:false,//关闭异步请求，先执行完该请求后才去执行其他请求
                    //获取缓存的用户邮箱
                    data:{
                        userEmail:sessionStorage.getItem("userEmail")
                    },
                    success: function(data) { //表示数据请求成功之后执行的函数
                        console.log(data);
                        _this.humanity.userId=data.info
                    }
                })
            },

            //请求寻人启事数据
            selectAll(){
                var _this = this;
                $.when(_this.getUserId()).done(
                    $.ajax({
                        url:"/humanity/selectAll",
                        type:"post",
                        dataType:"json",//从后端接收json格式的数据
                        data:JSON.stringify(_this.humanity),
                        success:function (res){
                            // console.log(res)
                            _this.humanityInfo=res
                        }

                    })
                )

            },
            handleSizeChange(val) { //下来框选中条数触发的事件
                //更改每页显示条数
                this.humanity.pageRow = val;
                //刷新
                this.loadDataPage();

            },
            //定义改变页码和每页显示条数的方法：
            handleCurrentChange(val) { //当前页触发的事件
                //更改页码
                this.humanity.page = val;
                //刷新
                this.loadDataPage();
            },
            //定义获取分页数据的方法：
            // 分页查询
            loadDataPage: function() {
                var _this = this;
                $.when(_this.getUserId()).done(
                    $.ajax({
                        url: "http://localhost:8080/humanity/findByPage",
                        type: "post",
                        dataType:"json",//表示接受后端传来的json数据
                        contentType:"application/json",//表示发送的是json格式数据
                        data:JSON.stringify(_this.humanity),
                        success: function(data) { //表示数据请求成功之后执行的函数
                            console.log(data);
                            _this.humanityInfo= data.list;
                            _this.totalCount = data.total;
                            _this.totalPage = data.totalPage;

                        }
                    })
                )

            },
            search_btn(){
                this.loadDataPage();
            }
        },
        mounted(){
            // this.selectAll();
            this.loadDataPage();
        }

    })
</script>

</body>
</html>