<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>

  <!--    导入vue-->
  <script src="/res/js/vue.js" type="text/javascript"></script>
  <!--    导入element-ui组件-->
  <script src="/res/js/index.js" type="text/javascript"></script>
  <link href="/res/css/index.css" rel="stylesheet">
  <!--    导入jquery-->
  <script src="/res/js/jquery.min.js" type="text/javascript"></script>
</head>
<style>
  .el-header, .el-footer {
    background-color: #619ac3;
    color: #333;
    text-align: center;
    line-height: 60px;
    opacity: 0.8;
  }

  .el-aside {
    background-color: #619ac3;
    color: #333;
    text-align: center;
    line-height: 200px;
    opacity: 0.7;

  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
    height: 585px;
  }

  body > .el-container {
    margin-bottom: 40px;
  }
  body{
    background-color: #93b5cf;
    background-image: url("/res/images/12.png");
    background-size: cover; /*背景图固定不变*/
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-col-12 {
    width: 100%;
  }
  .li_style{
    border: #3e3e3e solid 1px;
    height: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .el-input-group{
    width: 400px;
  }

  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
  img{
    width: 100px;
    height: 130px;
    /*        max-width: 100%;
            max-height: 100%;*/
  }
  th,tr,td,table{
    border: 0px solid #440e25;
  }
  .table{
    margin: 0 auto;
    opacity:0.8;
    /*background-image: url("/res/images/14.png");*/
  }
</style>
<body>

<div id="lost">
  <el-container>
    <el-header>
      <div>
        <div style="font-weight:bold;">失物招领列表</div>
        <div style="float: right;margin-top: -60px">   <!-- right居左    margin-top 调整位置 -->
          <el-input placeholder="请输入名称" v-model="found.foundName" class="input-with-select">
            <el-button @click="search_btn" plain slot="append" icon="el-icon-search"></el-button>
          </el-input>
        </div>
      </div>
    </el-header>
    <!--        Asia-->
    <el-container>
      <el-aside width="200px">
        <el-pageRow class="tac">
          <el-col :span="12">
            <el-menu
                    default-active="4-3"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose">

              <el-menu-item index="1" @click="hrefHumanity">
                <i class="el-icon-menu"></i>
                <span slot="title">寻人启事</span>
              </el-menu-item>

              <el-menu-item index="2" @click="hrefGoods">
                <i class="el-icon-menu"></i>
                <span slot="title">寻物启事</span>
              </el-menu-item>

              <el-menu-item index="3" @click="hrefFound">
                <i class="el-icon-menu"></i>
                <span slot="title">失物招领</span>
              </el-menu-item>

              <el-submenu index="4">

                <template slot="title">
                  <i class="el-icon-s-promotion"></i>
                  <span>我要发布</span>
                </template>
                <el-menu-item-group>
                  <el-menu-item @click="hrefPerson" index="4-1">
                    <i class="el-icon-user-solid"></i>
                    我要寻人</el-menu-item>
                  <el-menu-item @click="hrefFindGoods" index="4-2">
                    <i class="el-icon-present"></i>
                    我要寻物</el-menu-item>
                  <el-menu-item @click="hrefLost" index="4-3">
                    <i class="el-icon-guide"></i>
                    失物招领</el-menu-item>
                </el-menu-item-group>

              </el-submenu>


              <el-submenu index="5">

                <template slot="title">
                  <i class="el-icon-s-custom"></i>
                  <span>个人中心</span>
                </template>
                <el-menu-item-group>
                  <el-menu-item @click="hrefUserInfo" index="5-1">
                    <i class="el-icon-user"></i>
                    个人信息</el-menu-item>
                  <el-menu-item @click="hrefEditPassword" index="5-2">
                    <i class="el-icon-key"></i>
                    修改密码</el-menu-item>
                  <el-menu-item @click="outLogin" index="5-3">
                    <i class="el-icon-switch-button"></i>
                    退出登录</el-menu-item>
                </el-menu-item-group>

              </el-submenu>

            </el-menu>
          </el-col>
        </el-pageRow>
      </el-aside>


      <el-container>
        <!--Main界面-->
        <el-main>
          <!--开始更改-->
          <div>
            <table class="table">
              <!--              <caption><h2>失物招领列表</h2></caption>-->
              <thead>
              <tr class="li_style">
                <th style="width: 150px">照片</th>
                <th style="width: 100px">物品名称</th>
                <th style="width: 120px">物品描述</th>
                <th style="width: 150px">领取地点</th>
                <th style="width: 90px">联系人</th>
                <th style="width: 150px">联系人手机号</th>
                <th style="width: 120px">领取人</th>
                <th style="width: 90px">是否领取</th>
                <th style="width: 200px"><el-button type="success" plain @click="insertView">我要发布</el-button></th>
              </tr>

              <tr v-for="(item,index) in foundInfo" class="li_style">
                <td style="width: 150px"><img class="img" :src="item.foundImg"></td>
                <td style="width: 100px">{{item.foundName}}</td>
                <td style="width: 120px">{{item.foundFeature}}</td>
                <td style="width: 150px">{{item.foundPlace}}</td>
                <td style="width: 90px">{{item.userName}}</td>
                <td style="width: 150px">{{item.userPhone}}</td>
                <td style="width: 120px">{{item.foundUsername}}</td>
                <td style="width: 90px">{{item.foundSuccess}}</td>
                <td style="width: 200px">
                  <el-button type="primary" plain @click="updateView(item)">修改</el-button>
                  <el-button type="danger" plain @click="delFound(item)">删除</el-button>
              </tr>
            </table>
          </div>
          <!--更改结束-->

          <!--<div>
            <ul>
              <li class="li_style">
                <div>照片</div>
                <div>物品名称</div>
                <div>物品描述</div>
                <div>领取地点</div>
                <div>联系人</div>
                <div>联系人手机号</div>
                <div>领取人</div>
                <div>是否找到</div>
                <div><button @click="insertView">我要发布</button></div>
              </li>
              <li v-for="(item,index) in foundInfo" class="li_style">
                <div>
                  <img style="width: 120px;height: 150px" :src="item.foundImg">
                </div>
                <div>{{item.foundName}}</div>
                <div>{{item.foundFeature}}</div>
                <div>{{item.foundPlace}}</div>
                <div>{{item.userName}}</div>
                <div>{{item.userPhone}}</div>
                <div>{{item.foundUsername}}</div>
                <div>{{item.foundSuccess}}</div>
                <div>
                  <button @click="updateView(item)">修改</button>
                  <button @click="delFound(item)">删除</button>
                </div>
              </li>
            </ul>
          </div>-->

          <!--弹框界面-->
          <el-dialog :title="messageTitle" :visible.sync="dialogFormVisible">
            <el-form>
              <el-form-item label="照片" :label-width="formLabelWidth">
<!--                <el-input v-model="found.foundImg" autocomplete="off"></el-input>-->
                <el-upload
                        class="upload-demo"
                        action="/humanity/upload"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-remove="beforeRemove"
                        :on-success="handle_success"
                        multiple
                        :limit="3"
                        :on-exceed="handleExceed"
                        :file-list="fileList">
                  <el-button size="small" type="primary">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
              </el-form-item>
              <el-form-item label="物品名称" :label-width="formLabelWidth">
                <el-input v-model="found.foundName" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="物品描述" :label-width="formLabelWidth">
                <el-input v-model="found.foundFeature" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="领取地点" :label-width="formLabelWidth">
                <el-input v-model="found.foundPlace" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="联系人姓名" :label-width="formLabelWidth">
                <el-input v-model="found.userName" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="联系人手机号" :label-width="formLabelWidth">
                <el-input v-model="found.userPhone" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="领取人" :label-width="formLabelWidth">
                <el-input v-model="found.foundUsername" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item label="是否领取" :label-width="formLabelWidth">
                <el-select v-model="found.foundSuccess" placeholder="请选择是否领取">
                  <el-option label=1 value=1></el-option>
                  <el-option label=0 value=0></el-option>
                </el-select>
              </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="cancel">取 消</el-button>
              <el-button type="primary" @click="ensure">确 定</el-button>
            </div>
          </el-dialog>

          <!--分页显示-->
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="curPage"
                         :page-sizes="[2, 3, 4, 5]" :page-size="found.pageRow" layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
          </el-pagination>

        </el-main>
        <!--Footer界面-->
        <el-footer>
          <tr class="foot">
            <b>&copy;寻人启事系统</b>
          </tr>
        </el-footer>
      </el-container>
    </el-container>
  </el-container>
</div>

<script>
  new Vue({
    el:"#lost",
    data(){
      return{
        found:{
          foundId: 0,
          foundName: "",
          foundImg: "",
          foundFeature: "",
          foundPlace: "",
          userId: 0,
          userName: "",
          userPhone: "",
          foundUsername: "",
          foundSuccess: 0, //修改为已领取或未领取   1  0
          page: 1,
          pageRow: 3
        },
        totalCount: 0,//总条数
        totalPage: 0,//总页数
        curPage: 0,//当前页
        foundInfo:[],//接收从后端接收的寻人启事数据
        formLabelWidth: '120px',
        dialogFormVisible: false,
        messageTitle:"",
        fileList:[]//上传图片
      }
    },
    methods:{
      //跳转到寻人启事页
      hrefHumanity(){
        window.location.href="index"
      },
      //跳转到寻物启事页面
      hrefGoods(){
        window.location.href="goodsView"
      },
      //跳转到失物招领页面
      hrefFound(){
        window.location.href="foundView"
      },
      //跳转到我要寻人界面
      hrefPerson(){
        window.location.href="personView"
      },
      //跳转到我要寻物界面
      hrefFindGoods(){
        window.location.href="findGoodsView"
      },
      //跳转到发布失物招领界面
      hrefLost(){
        window.location.href="lostView"
      },
      //跳转到个人信息界面
      hrefUserInfo(){
        window.location.href="userInfo"
      },
      //跳转到修改密码界面
      hrefEditPassword(){
        window.location.href="editPassword"
      },


      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      //获取用户Id
      getUserId(){
        var _this = this
        // sessionStorage.getItem("userEmail")
        $.ajax({
          url: "/user/getUserId",
          type: "get",
          dataType:"json",//表示接受后端传来的json数据
          contentType:"application/json",//表示发送的是json格式数据
          async:false,//关闭异步请求，先执行完该请求后才去执行其他请求
          //获取缓存的用户邮箱
          data:{
            userEmail:sessionStorage.getItem("userEmail")
          },

          // data:JSON.stringify(_this.found.page,_this.found.pageRow),//将user转换成JSON格式字符串
          success: function(data) { //表示数据请求成功之后执行的函数
            console.log(data);
            _this.found.userId=data.info
          }
        })
      },
      //获取登录用户发布的寻物记录
      selectAll(){
        var _this = this
        //获取用户Id
        $.when(_this.getUserId()).done(
                //获取数据
                $.ajax({
                  url: "/found/selectFoundByUserId",
                  type: "post",
                  dataType:"json",//表示接受后端传来的json数据
                  contentType:"application/json",//表示发送的是json格式数据
                  //获取缓存的用户邮箱
                  data:JSON.stringify(_this.found),
                  // data:JSON.stringify(_this.found.page,_this.found.pageRow),//将user转换成JSON格式字符串
                  success: function(data) { //表示数据请求成功之后执行的函数
                    console.log(data);
                  }
                })
        )
      },
      handleSizeChange(val) { //下来框选中条数触发的事件
        //更改每页显示条数
        this.found.pageRow = val;
        //刷新
        this.loadDataPage();

      },
      //定义改变页码和每页显示条数的方法：
      handleCurrentChange(val) { //当前页触发的事件
        //更改页码
        this.found.page = val;
        //刷新
        this.loadDataPage();
      },
      //定义获取分页数据的方法：
      // 分页查询
      loadDataPage: function() {
        var _this = this;
        console.log("updateData",_this.found)
        //获取用户Id
        $.when(_this.getUserId()).done(
                // console.log(_this.found),
                $.ajax({
                  url: "/found/findUserIdFoundByPage",
                  type: "post",
                  dataType:"json",//表示接受后端传来的json数据
                  contentType:"application/json",//表示发送的是json格式数据
                  //获取缓存的用户邮箱
                  data:JSON.stringify(_this.found),
                  success: function(data) { //表示数据请求成功之后执行的函数
                    console.log(data);
                    _this.foundInfo= data.list;
                    _this.totalCount = data.total;
                    _this.totalPage = data.totalPage;

                  }
                })
        )

      },
      //判断弹框类型，执行对应确认、取消操作
      cancel(){
        var _this = this
        // console.log(_this.messageTitle)
        if(_this.messageTitle=="修改失物招领信息"){
          _this.cancelUpdate();
        }else if(_this.messageTitle=="添加失物招领"){
          _this.cancelInsert();
        }
      },
      ensure(){
        var _this = this
        // console.log(_this.messageTitle)
        if(_this.messageTitle=="修改失物招领信息"){
          _this.ensureUpdate();
        }else if(_this.messageTitle=="添加失物招领"){
          _this.ensureInsert();
        }
      },
      //弹出修改界面弹框
      updateView(data){
        var _this = this
        var page = _this.found.page
        var pageRow = _this.found.pageRow
        _this.messageTitle="修改失物招领信息"

        //显示修改信息弹框
        _this.dialogFormVisible = true
        //向表单传入数据
        _this.found=data
        _this.found.page = page
        _this.found.pageRow = pageRow
        // console.log(_this.found)
        // console.log(data)
      },
      //取消更新数据
      cancelUpdate(){
        var _this = this
        //关闭修改信息弹框
        _this.dialogFormVisible = false
        //刷新数据与数据库一致
        //初始化数据
        //初始化输入框
        _this.found.foundImg = ""
        _this.found.foundName = ""
        _this.found.foundFeature = ""
        _this.found.foundPlace = ""
        _this.found.userName = ""
        _this.found.userPhone = ""
        _this.found.foundUsername = ""
        _this.found.foundSuccess = ""
        _this.loadDataPage();
      },
      //确认更新寻人启事数据
      ensureUpdate(){
        var _this = this
        //发送更新后的数据到后端
        // console.log(_this.found)
        // console.log(JSON.stringify(_this.found))
        $.when(_this.getUserId()).done(
                $.ajax({
                  url: "/found/updateFound",
                  type: "post",
                  contentType:"application/json",//表示发送的是json格式数据
                  dataType:"json",//表示接受后端传来的json数据
                  data:JSON.stringify(_this.found),

                  // data:JSON.stringify(_this.found.page,_this.found.pageRow),//将user转换成JSON格式字符串
                  success: function(data) { //表示数据请求成功之后执行的函数
                    console.log(data);
                    //关闭修改信息弹框
                    _this.dialogFormVisible = false
                    //刷新数据与数据库一致
                    //初始化数据
                    //初始化输入框
                    _this.found.foundImg = ""
                    _this.found.foundName = ""
                    _this.found.foundFeature = ""
                    _this.found.foundPlace = ""
                    _this.found.userName = ""
                    _this.found.userPhone = ""
                    _this.found.foundUsername = ""
                    _this.found.foundSuccess = ""
                    _this.loadDataPage();
                  }
                })
        )


      },
      //删除指定寻人启事信息
      delFound(data){
        var _this = this;
        // console.log("data:",data)
        $.ajax({
          url: "/found/deleteFound",
          type: "get",
          contentType:"application/json",//表示发送的是json格式数据
          dataType:"json",//表示接受后端传来的json数据
          data: {
            foundId:data.foundId
          },

          // data:JSON.stringify(_this.found.page,_this.found.pageRow),//将user转换成JSON格式字符串
          success: function(data) { //表示数据请求成功之后执行的函数
            // console.log(data);
            _this.$message({
              message: data.info,
              type: 'success'
            });
            //刷新数据与数据库一致
            //初始化数据
            //初始化输入框
            _this.found.foundImg = ""
            _this.found.foundName = ""
            _this.found.foundFeature = ""
            _this.found.foundPlace = ""
            _this.found.userName = ""
            _this.found.userPhone = ""
            _this.found.foundUsername = ""
            _this.found.foundSuccess = ""
            _this.loadDataPage();
          }
        })
      },
      //添加寻人启事信息弹框
      insertView(){
        var _this = this
        _this.messageTitle="添加失物招领"

        //显示信息弹框
        _this.dialogFormVisible = true

        //初始化输入框
        _this.found.foundImg = ""
        _this.found.foundName = ""
        _this.found.foundFeature = ""
        _this.found.foundPlace = ""
        _this.found.userName = ""
        _this.found.userPhone = ""
        _this.found.foundUsername = ""
        _this.found.foundSuccess = ""

      },
      //取消添加
      cancelInsert(){
        var _this = this
        //关闭弹框
        _this.dialogFormVisible = false

        //初始化数据
        //初始化输入框
        _this.found.foundImg = ""
        _this.found.foundName = ""
        _this.found.foundFeature = ""
        _this.found.foundPlace = ""
        _this.found.userName = ""
        _this.found.userPhone = ""
        _this.found.foundUsername = ""
        _this.found.foundSuccess = ""
        _this.loadDataPage();
      },
      //确认添加
      ensureInsert(){
        var _this = this
        console.log(_this.found)
        console.log(JSON.stringify(_this.found))
        //获取用户Id
        $.when(_this.getUserId()).done(
                //向数据库添加数据
                $.ajax({
                  url: "/found/insertFound",
                  type: "post",
                  contentType:"application/json",//表示发送的是json格式数据
                  dataType:"json",//表示接受后端传来的json数据
                  data:JSON.stringify(_this.found),
                  success: function(data) { //表示数据请求成功之后执行的函数
                    // console.log(data);
                    _this.$message({
                      message: data.info,
                      type: 'success'
                    });
                    //刷新数据与数据库一致
                    //初始化数据
                    //初始化输入框
                    _this.found.foundImg = ""
                    _this.found.foundName = ""
                    _this.found.foundFeature = ""
                    _this.found.foundPlace = ""
                    _this.found.userName = ""
                    _this.found.userPhone = ""
                    _this.found.foundUsername = ""
                    _this.found.foundSuccess = ""
                    _this.loadDataPage();
                    //关闭弹框
                    _this.dialogFormVisible = false
                  }
                })
        )

      },
      // 上传图片
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      handleExceed(files, fileList) {
        this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
      },
      beforeRemove(file, fileList) {
        return this.$confirm(`确定移除 ${ file.name }？`);
      },
      //上传成功回调路径
      handle_success(res) {
        console.log(res)
        //判断添加寻人启事的头像输入框
        this.found.foundImg="/res/images/"+res
        this.$message.success('图片上传成功')
      },

      search_btn(){
        this.loadDataPage();
      },
      outLogin(){
        var _this = this
        $.ajax({//表示数据请求成功之后执行的函数
          url: "/user/outLogin",
          type: "get",
          contentType:"application/json",//表示发送的是json格式数据
          dataType:"json",//表示接受后端传来的json数据
          success: function() {
            //页面跳转首页
            setTimeout("location.href='/login'",2000)
          }
        })
      }

    },
    mounted(){
      // this.selectAll();
      this.loadDataPage();
    }

  })
</script>

</body>
</html>